*{
    padding: 0;
    margin: 0;
}

body{
    background-color: hsl(13, 31%, 94%);
    font-family: "Red Hat Text";
    display:flex;   
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
header{
    margin:50px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap:3%;
    height: 70rem;
    width: 80%;
}
.slice1{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap:1rem;
}
.slice2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(20, 50%, 98%);
    border-radius: 10px;
    height: 40%;
    width: 30%;
    position: relative;
    overflow: hidden;
}
.slice2_countainer{
    box-sizing: border-box;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    align-items: start;
    gap:16%;
    height: 100%;
    width: 100%;
}
.items{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap:15%;
    width: 100%;
    padding: 20px 0;
    
}
.grids{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    width: 45rem;
    height: auto;
    grid-gap:8%;
    box-sizing: border-box;
}
.option {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10%;
}

.background {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* Set a height for the container */
}
.centered-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.add_button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0; /* Position the button at the bottom of the image */
    left: 50%; /* Center horizontally relative to the image */
    width: 65%;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid hsl(7, 20%, 60%);
    background-color: hsl(20, 50%, 98%);
    padding: 4%;
    transform: translateX(-50%)translateY(50%);
    gap:5%;
    transition: background-color 250ms ease-in-out 250ms;
}

.shop_icon{
    display: block;
    width: 14% ;
    height: auto;
    opacity: 1; /* Initial opacity */
    transition: opacity 100ms ease-in-out; /* Transition effect */
    }
.add_button:hover .shop_icon{
    opacity: 0;
}
.add_button:hover{
    background-color: hsl(14, 86%, 42%);
    color:white;
    font-weight: 700;
}
.add_to_cart{
    transition: 250ms ease-in-out 250ms;
}
.add_button:hover .add_to_cart{
    font-size: 13px;
    margin-right:16px;
    width: 100%;
}
.name, h6{
    font-size:12px;
    color: hsl(12, 20%, 44%);
    }
h6{
    font-weight: 500;
}
.fullname{
    font-size:16px;
    width: 100%;
    font-weight: 600;
}
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #ddd; /* Add a border to separate items */
}

.cart-item img {
    width: 50px;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
}

.cart-item-details {
    flex: 1;
    display: flex;
   flex-direction: column;
  text-align: left;
}

.cart-item-details p {
    margin: 0;
    font-size: 14px;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
}

.cart-item-quantity button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
}
.cart-total {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.cart-total p {
    margin: 0;
    margin-bottom: 5px;
}
.cart{
    width: 100%;
    color: hsl(14, 86%, 42%);
}
.price{
    font-size:16px;
    color: hsl(14, 86%, 42%);
}
h1 {
    width: 20%;
    height: 50%;
}
.cake{
    width: 40%;
    height: auto;
}

.increment_icon{
padding: 10px;
width: 20px;

}
